 * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b5e0f8;
  font-family: sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  background: #B5E0F8;
  overflow: hidden;
  position: relative;
}

/* HEADER */

.chat-header {
  background: linear-gradient(135deg, #b6f0c8 0%, #8ecde6 100%);
  padding: 25px 40px;
  height: 230px;
  flex-shrink: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 60px;
  object-fit: contain;
}

.back-btn {
  display: none;
}

.header-bot {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}

.header-illus {
  width: 110px;
  height: auto;
  object-fit: contain;
}

.header-title {
  font-size: 38px;
  font-weight: 800;
  color: #1a3c4d;
}

/* DOKTER */

.doctor-section {
  padding: 30px 40px 10px;
  flex-shrink: 0;
}

.timer {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  color: #1a3c4d;
  margin-bottom: 20px;
}

.doctor-card {
  display: flex;
  align-items: center;
  gap: 20px;

  background: white;
  border-radius: 20px;
  padding: 18px 20px;

  width: fit-content;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.doctor-avatar {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  object-fit: cover;
}

.doctor-nama {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #1a3c4d;
}

.doctor-status {
  margin: 0;
  font-size: 15px;
  color: #28a745;
  font-weight: 600;
}

/* CHAT */

.chatbox {
  flex: 1;
  padding: 20px 40px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.msg-doctor {
  padding: 18px 24px;
  border-radius: 20px;
  max-width: 60%;

  background: white;
  align-self: flex-start;
  border-bottom-left-radius: 5px;

  font-size: 18px;
}

.msg-user {
  padding: 18px 24px;
  border-radius: 20px;
  max-width: 60%;

  background: #1a3c4d;
  color: white;

  align-self: flex-end;
  border-bottom-right-radius: 5px;

  font-size: 22px;
}

/* INPUT */

.input-area {
  padding: 20px 40px 30px;
  flex-shrink: 0;
}

.input-wrap {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid #1a3c4d;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;

  font-size: 18px;
  font-weight: 600;

  padding: 12px 10px;

  background: transparent;
  color: #333;
}

.input-field::placeholder {
  color: #666;
}

.send-btn {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn img {
  width: 28px;
  height: 28px;
}

/* HILANGKAN NAVBAR */

.navbar {
  display: none;
}