* {
  font-family: "Aoboshi One", serif;
}

.home-container {
  min-height: 100vh;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  background: #B5E0F8;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.logo-home {
  position: absolute;
  top: 20px;
  left: 30px;   
  width: 80px;
}

.family-home{
  width: 65%;
  max-width: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.home-header {
  background: linear-gradient(to right, #C9FADA, #96BBFE);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 60%; */
  /* margin: 0 auto; */
}

.card2 {
  background: linear-gradient(to bottom, #cfd9df, #5f8fa3);
  padding: 8px;
  border-radius: 12px;
  width: 50%;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: left;
}

.card2 p{
  font-size: 11px;
  color: white;
  line-height: 1.5;
}

.card2 p.status{
  color: white;
  font-size: 13px;
  line-height: 1.0;
}

.card2 img{
  width: 22px;
  height: 22px;
  object-fit: contain;
  display: block; /*untuk menghapus gap di bawah img*/
}

.saldo-row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}

.saldo {
  margin-top: 0px;
}



.menu-row1, .menu-row2, .menu-row3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  font-size: 12px;
  color: black;
  line-height: 15px;
  margin-top: 20px;
  width: 100%;
}

/* Setiap item dalam row */
.homePage-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;  /* ← teks center di bawah gambar */
  text-align: center;
  width: 90px;
}

.homePage-menu .menu img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.homePage-menu .menu p {
  margin: 6px 0 0 0;
  font-size: 12px;
}

.bottom-nav {
  background: #6d9db1;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.bottom-nav img {
  width: 10%;  
  height: 80%;  
  margin-top: 4px;
}