 

.home-container {
  height: 100vh;
  max-width: 100%;
  /* margin: 0 auto;  */ 

  background: #B5E0F8;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.logo-home {
  position: absolute;
  top: 20px;
  left: 60px;   
  width: 80px;
}

.family-home{
  max-width: 80px;
  position: absolute;
  top: 20px;
  right: 30px;
}

/*.icon-menu-sidebar{
  margin-top: 0px;
/* } */
.home-header {
  background: linear-gradient(to right, #C9FADA, #96BBFE);
  padding: 20px 10px;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.card2 {
  background: linear-gradient(to bottom, #cfd9df, #5f8fa3);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left;
}

.card2 p{
  font-size: 11px;
  color: white;
  line-height: 1.5;
}

.card2 p.status{
  color: white;
  font-size: 13px;
  line-height: 1.0;
}

.card2 img{
  width: 22px;
  height: 22px;
  object-fit: contain;
  display: block;
}

.saldo-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.saldo {
  margin-top: 0px;
}

.homePage-menu{
  flex: 1;
}
.homePage-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.homePage-menu .menu p {
  margin: 6px 0 0 0;
  font-size: 16px;
    color: black;
}

.menu-row1, .menu-row2, .menu-row3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}