* {
  font-family: "Aoboshi One", serif;
}

.home-container {
  height: 100vh;
  max-width: 100%;
  /* margin: 0 auto;  */ 

  background: #B5E0F8;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.logo-home {
  position: absolute;
  top: 20px;
  left: 60px;   
  width: 80px;
}

.family-home{
  max-width: 80px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.icon-menu-sidebar{
  margin-top: 0px;
}
.home-header {
  background: linear-gradient(to right, #C9FADA, #96BBFE);
  padding: 20px 10px;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.card2 {
  background: linear-gradient(to bottom, #cfd9df, #5f8fa3);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left;
}

.card2 p{
  font-size: 11px;
  color: white;
  line-height: 1.5;
}

.card2 p.status{
  color: white;
  font-size: 13px;
  line-height: 1.0;
}

.card2 img{
  width: 22px;
  height: 22px;
  object-fit: contain;
  display: block;
}

.saldo-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.saldo {
  margin-top: 0px;
}

.homePage-menu{
  flex: 1;
}
.homePage-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  width: 90px;
}

.homePage-menu .menu p {
  margin: 6px 0 0 0;
  font-size: 16px;
    color: black;
}

.menu-row1, .menu-row2, .menu-row3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 20px;
  margin-top: 20px;
  /* width: 100%; */
}

.sidebar {
  width: 240px;
  background: #6d9db1;
  position: fixed;
  height: 100vh;
  min-height: 100%;
  padding : 20px 10px;
  left: -100%;
  transition: all 1s;

}

.sidebar.active{
  left: 0;
}
.logo-sidebar {
  display: flex;
  gap: 10px;
}

.logo-sidebar img{
  width: 90px;
}

ul {
  padding: 0;
}

ul li{
  list-style-type: none;
  margin: 10px 0;
}

ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover, ul li a.active {
  color: black;
  background-color: #B5E0F8 ;
}

.footer {
  background:#6d9db1 ;
  width: 100%;
  margin-top: 50px; 
  font-size: 12px;
}

.logo-footer {
  padding: 10px 10px;
}
.footer p{
  display: flex;
  justify-content: space-around;
}

.footer-left-item {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;      
  padding: 5px 10px;
  gap: 5px;
  box-shadow: 0 2px 8px black;
  cursor: pointer;
}

.footer-content img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  flex-wrap: wrap;
    cursor: pointer;
}

.footer-left {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-left: 20px;
}

/* .footer-right {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: right;
  margin-left: 60px;
  gap: 15px;
} */

.footer-right-content h1{
  font-size: 14px;
  color: white;
}

.footer-right-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: right;
  gap: 20px;
  margin-left: 60px;
}
.bantuan {
  color: white;
}
.mail {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.copy-right {
  border-top: #11607C;
  border-style:inherit;
  margin: 20px;
  color: white;
}
/* .bottom-nav {
  background: #6d9db1;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  position: sticky;
  bottom: 0;
}

.bottom-nav img {
  width: 10%;  
  height: 80%;  
  margin-top: 4px;
} */