.konsul-container {
  height: 100vh;
  background: #b5e0f8;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.logo-konsul {
  position: absolute; 
  top: 20px;
  left: 50px;
  width: 80px;
}

.family-konsul {
  width: 65%;
  max-width: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.konsul-header {
  background: linear-gradient(to right, #c9fada, #96bbfe);
  padding: 20px 10px;
  position: relative;
  height: fit-content;
  min-height: 150px;
}

.konsul-dokter {
  width: 100px;
  position: absolute;
  top: 60px;
  left: 20px;
}

.konsul-header h1 {
  color: black;
  border: none;
  position: absolute;
  top: 80px;
  left: 150px;
  font-size: 24px;
}

.konsul-list {
      padding: 4px 16px 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

.konten {
  background: #11607c;
  border-radius: 18px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-top: 10px;
}

.konten-judul {
  background-color: white;
  color: #11607C;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
}

.konten-img {
  width: 100px;
}

.konten-sub {
  color: white;
  font-size: 11px;
}
.quote {
  color: black;
  font-size: 12px;
  text-align: center;
  margin-top: auto;
  padding: 16px;
}