/* =========================
   PAGE
========================= */

.notif-page{
  height: 100vh;
  background: #b5e0f8;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

/* =========================
   TOPBAR
========================= */

.notif-topbar{
  background: linear-gradient(to right, #c9fada, #96bbfe);
  padding: 20px 10px;
  position: relative;
  height: fit-content;
}

/* MENU BUTTON */

.notif-menu-btn{
  cursor: pointer;
  z-index: 1001;
}

/* LOGO */

.notif-logo{
  position: absolute;
  top: 20px;
  left: 60px;   
  width: 80px;
}

/* =========================
   CONTENT
========================= */

.notif-content{
  padding: 20px;
}

/* TITLE */

.notif-title h1{

  color: #1f6374;

  font-size: 42px;

  margin-bottom: 25px;
}

/* =========================
   TAB
========================= */

.notif-tabs{
  display: flex;
  gap: 15px;

  margin-bottom: 35px;
}

.notif-tabs button{

  border: none;

  background: white;

  padding: 12px 22px;

  border-radius: 14px;

  cursor: pointer;

  font-size: 15px;

  transition: 0.3s;
}

.notif-tabs button.active{

  background: #1f6374;

  color: white;
}

/* =========================
   LIST
========================= */

.notif-list{
  display: flex;
  flex-direction: column;

  gap: 22px;
}

/* CARD */

.notif-card{

  background: white;

  border-radius: 24px;

  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow:
  0 4px 12px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.notif-card:hover{

  transform: translateY(-4px);
}

/* LEFT */

.notif-left{

  display: flex;
  align-items: center;

  gap: 20px;
}

.notif-left img{

  width: 65px;
  height: 65px;

  object-fit: contain;
}

/* TEXT */

.notif-text h4{

  margin: 0;

  font-size: 20px;

  color: #1f6374;
}

.notif-text p{

  margin-top: 6px;

  color: gray;

  font-size: 14px;
}

/* TIME */

.notif-time{

  color: #777;

  font-size: 14px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width: 768px){

  .notif-content{
    padding: 20px;
  }

  .notif-title h1{
    font-size: 30px;
  }

  .notif-card{

    flex-direction: column;
    align-items: flex-start;

    gap: 15px;
  }

  .notif-tabs{
    flex-wrap: wrap;
  }

}