/* BACKGROUND LUAR */
.setting-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* CONTAINER (BIAR KAYAK HP) */
.phone-container {
  height: 100vh;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  background: #B5E0F8;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* HEADER */
.header {
  padding: 16px;
}

.header img {
  position: absolute;
  top: 20px;
  left: 30px;   
  width: 80px;
}

/* TITLE */
.title-settings {
  background-color: #2f6f7f;
  color: #B5E0F8;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  width: 100px;
  margin: 10px 0 0 auto;
  font-size: 15px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* ITEM MENU */
.menu-item {
  background-color: white;
  padding: 5px 16px;
  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* strip biru seperti desain */
  border-top: 10px solid #B5E0F8;
}

/* BAGIAN KIRI */
.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ICON KIRI */
.icon-left {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* TEXT */
.menu-item span {
  font-size: 17px;
  font-weight: 600;
}

/* ICON PANAH */
.icon-right {
  width: 38px;
}

/* BOTTOM NAV */
.bottom-nav-settings {
  background: #6d9db1;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  position: sticky;
  bottom: 0;
  line-height: 0;
}

/* ICON NAV */
.bottom-nav-settings img {
  width: 10%;  
  height: 80%;  
  margin-top: 4px;
}

/* OPTIONAL: ACTIVE ICON */
.bottom-nav-settings img:active {
  transform: scale(0.9);
}