@import "tailwindcss";

.icon-menu-sidebar{
  margin-top: 0px;
}
.sidebar {
  width: 240px;
  background: #6d9db1;
  position: fixed;
  height: 100vh;
  min-height: 100%;
  padding : 20px 10px;
  left: -100%;
  transition: all 1s;
  z-index: 1000; 
  top: 0;        

}

.sidebar.active{
  left: 0;
}
.logo-sidebar {
  display: flex;
  gap: 10px;
}

.logo-sidebar img{
  width: 90px;
}

ul {
  padding: 0;
}

ul li{
  list-style-type: none;
  margin: 10px 0;
}

ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover, ul li a.active {
  color: black;
  background-color: #B5E0F8 ;
}

.footer {
  background:#6d9db1 ;
  width: 100%;
  margin-top: 50px; 
  font-size: 12px;
}

.logo-footer {
  padding: 10px 10px;
}
.footer p{
  display: flex;
  justify-content: space-around;
}

.footer-left-item {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;      
  padding: 5px 10px;
  gap: 5px;
  box-shadow: 0 2px 8px black;
  cursor: pointer;
}

.footer-content img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  flex-wrap: wrap;
    cursor: pointer;
}

.footer-left {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-left: 20px;
}
.footer-right-content h1{
  font-size: 14px;
  color: white;
}

.footer-right-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: right;
  gap: 20px;
  margin-left: 60px;
}
.bantuan {
  color: white;
}
.mail {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.copy-right {
  border-top: #11607C;
  border-style:inherit;
  margin: 20px;
  color: white;
}